
<nav class="navbar navbar-light" style="background-color: #468dc0">
  <a href="/" class="navbar-brand">
    <img src="/img/Guia.ico" alt="" />
  </a>
  <nav class="navbar-brand">
    <form class="d-flex " role="search">
      <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
      <button class=" btn btn-outline-dark btnPesquisar" href="/perguntar" ><span>Buscar</span></button>
    </form>
  </nav>
</nav>
<hr>