<%- include('partials/header') -%>

<body>

  <div class="container">
    <div class="TituloPerguntas">
      <a class="navbar-brand" href="/">
        <div id="liveAlertPlaceholder">
          <button class="custom-btn btn-12 btn"><span>Menu Principal</span><span>Voltar</span></button>
        </div>
      </a>
    </div>


    <div class="container">
      <div class="card border-dark mb-3" id="formulario-pergunta">
        <div class="card-header">
          <h3>Realizar Pergunta</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="/salvarpergunta">
            <label>Título</label>
            <input type="text" placeholder="Título" class="form-control" name="titulo">
            <br><label>Descrição</label>
            <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descricao"></textarea>
            <br>
            <button class="btn btn-outline-dark">Perguntar</button>
          </form>
        </div>
      </div>
    </div>
</body>

<%- include('partials/footer') -%>